body{
    background-image: url("https://c8.alamy.com/comp/J08T1G/movie-icon-movie-website-button-on-low-poly-background-J08T1G.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }      
 
.navbar {
  background-color: black;
} 
nav {
  height:60px;
}
.navbar-brand{
    color:yellow;
    font-size: 30px;
    font-weight: bold;
}

.navbar-nav {
  margin:auto;
}
.nav-link {
  margin:10px 25px;
  color:#fff;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.card{
    margin-top: 50px;
    background-color: lightcoral;
}
       
        .card-block{
           
           margin-bottom: 20px;
        }
        .card-title{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: whitesmoke;
            text-align: center;
        }
        /* .btn{
            margin-top: 20px;
            margin-left: 120px;
        } */
      .card:hover{
          -webkit-box-shadow: -1px -9px 40px -12px rgba(0,0,0,0.75);
          -moz-box-shadow: -1px -9px 40px -12px rgba(0,0,0,0.75);
          box-shadow: -1px -9px 40px -12px rgba(0,0,0,0.75);;
      }
      