body {
    margin:0;
    padding:0;
    background-image: url("https://image.freepik.com/free-vector/movie-time-flat-concept-background-cinema-banner-design_149152-485.jpg");
    background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    
  }.navbar {
    background-color: black;
  } 
  nav {
    height:60px;
  }
  .navbar-brand{
      color:yellow;
      font-size: 30px;
      font-weight: bold;
  }
  
  .navbar-nav {
    margin:auto;
  }
  .nav-link {
    margin:10px 25px;
    color:#fff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  /* style="text-align:center;padding-top: 10px;" */
  .imp{
    text-align:center;
    padding-top: 10px;
  }